{% extends "blog/base.html" %}

{% block content %}
    <div class="about_me">
        <h1 class="about-me-title"> About me </h1>
        <div class="about_me_content">
            <img src="../static/img/about_me/my_photo.jpg" class="img-rounded img-responsive my_photo" width="350" height="350">
            <p>This page is about me.<br>
                But I do not know what I should write here.<br>
                So just look at the photo - it's me.
            </p>
        </div>    
    </div>
{% endblock %}