{% extends "blog/base.html" %}

{% block content %}
    <h1 class="contacts-title">Contacts</h1>
    <div class="contacts">
        <div class="row">
            <table class="contacts-list">
                <tr class="sn_logo">
                	<td><img src="../static/img/logos/facebook.png" class="img-circle"></td>
            		<td><a href="https://www.facebook.com/sashka47">Alexandr Nikitenko</a></td>
        		</tr>
        		<tr class="sn_logo">
        			<td><img src="../static/img/logos/vk.png" class="img-circle"></td>
                    <td><a href="http://vk.com/id65443143">Sasha Nikitenko</a></td>
                </tr>
                <tr class="sn_logo">
                    <td><img src="../static/img/logos/telegram.png" class="img-circle"></td>
                    <td>@Ghost_74</td>
                </tr>
                <tr class="sn_logo">
                    <td><img src="../static/img/logos/skype.png" class="img-circle"></td>
                	<td>alex_nikitenko97 <i><b>(not active now)</b></i></td>
                </tr>
                <tr class="sn_logo">
                	<td><img src="../static/img/logos/google-plus.png" class="img-circle"></td>
                	<td>sashanikitenko74@gmail.com</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}