{% extends "blog/base.html" %}

{% block content %}
    <h1 class="contacts-title">Contacts</h1>
    <div class="contacts">

        <div class="row">
            <div class="col-md-6 sn-logo">
                <img src="../static/img/logos/facebook.png" class="img-circle">
            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/sashka47">Alexandr Nikitenko</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sn-logo">
                <img src="../static/img/logos/vk.png" class="img-circle">
            </div>
            <div class="col-md-6">
                <a href="http://vk.com/id65443143">Sasha Nikitenko</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sn-logo">
                <img src="../static/img/logos/telegram.png" class="img-circle">
            </div>
            <div class="col-md-6">
                @Ghost_74
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sn-logo">
                <img src="../static/img/logos/skype.png" class="img-circle">
            </div>
            <div class="col-md-6">
                alex_nikitenko97 <i><b>(not active now)</b></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sn-logo">
                <img src="../static/img/logos/google-plus.png" class="img-circle">
            </div>
            <div class="col-md-6">
                sashanikitenko74@gmail.com
            </div>
        </div>

    </div>
{% endblock %}