/*============ Erase styles =============*/

*{
	margin: 0;
}

html{
	height: 100% !important;
}

/*============ Main styles =============*/

body{
	background-color: rgba(224,224,224,0.5) !important;
	background-image: url(../img/body.jpg);
	background-repeat: repeat-y;
	display: flex !important;
	flex-direction: column !important;
	height: 100% !important;
}

/*============ Header styles ============*/

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.page-header {
    background: linear-gradient(0deg, #D74177 , #FFE98A);
    margin: 0 !important;
    padding: 20px 20px 20px 40px !important;
    border-bottom: none !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    float: left;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

/*============ Content styles ============*/

.content{
	flex-grow: 1 !important;
}

.date {
    float: right;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align:justify;
    font-family: 'Bellefair', serif;
    font-size: 20px;
}

.post:last-child{
	border-bottom: none;
}

.post .detail-title {
	font-family: 'Lobster Two', cursive;
	padding-bottom: 20px;
	text-align: center;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-family: 'Lobster Two', cursive;
    text-decoration: none;
}

.post h1 a:hover {
	color: #D74177;
}

.row{
	background-color: rgba(224, 224, 224, 0.8);
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text{
	clear: both;
	height: auto !important;
}

.page-footer{
	font-family: 'Bellefair', serif;
	text-align: center;
	color: white;
	font-size: 16px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer{
	background: linear-gradient(0deg, #D74177 , #FFE98A);
	padding-top: 20px;
	padding-bottom: 10px;
}


#pages {
	color: black;
}

#pages a {
	text-decoration: none;
	color: black;
}
